{% extends 'base/base_site.html' %}
{% load i18n %}



{% block content %}
<div class="container alert alert-danger shadow-sm animate__animated animate__zoomIn">
    <div class="row">
        <div class="col col-4 col-sm-3 col-md-2 col-lg-1">
            <h1 class="font-weight-bold animate__animated animate__bounce animate__slower">500</h1>
        </div>
        <div class="col col-8 col-sm-5 col-md-7 col-lg-9">
            <strong class="h2">{% trans 'Ha ocurrido un error interno.' %}</strong>
            <div>{% trans 'Tenemos inconvenientes para mostrarle esta información en este momento.' %}</div>
        </div>
        <div class="col col-12 col-sm-4 col-md-3 col-lg-2 text-right">
            <a class="btn btn-primary h-100" href="{% url 'index' %}">{% trans 'Ir a la página principal' %}</a>
        </div>
    </div>
</div>
{% endblock content %}