{% extends 'base/base.html' %}
{% load thumbnail %}
{% load base %}





{% block carousel %}{% endblock %}
{% block schedule %}{% endblock %}
{% block brands %}{% endblock %}
{% block location %}{% endblock %}
{% block about %}{% endblock %}
{% block brochure %}{% endblock %}
{% block featured_items %}{% endblock %}


{% block content %}

<div class="container">
    <h1>Calculadora de BTU/H</h1>
    <details>
        <summary>¿Qué es BTU?</summary> 
        <blockquote cite="https://es.wikipedia.org/wiki/BTU#:~:text=La%20British%20thermal%20unit%20(%C2%ABunidad,en%20equipos%20de%20aire%20acondicionado.">
            <p>
                La British thermal unit («unidad térmica británica»; símbolo: BTU) 
                es una unidad de energía utilizada principalmente en equipos de aire acondicionado. 
                Se usa en los Estados Unidos, aunque ocasionalmente también se puede encontrar 
                en documentación o equipos de origen británico o en América Latina. 
                En la mayor parte de los ámbitos de la técnica y la física ha sido 
                sustituida por el julio que es la unidad correspondiente del 
                Sistema Internacional de Unidades.
            </p>
            <p>
                1 BTU es aproximadamente la cantidad de calor necesaria para provocar 
                una elevación de temperatura de 1 °F en una muestra de agua con una masa 
                de 1 lb. Esta descripción tiene la misma ambigüedad que la caloría, 
                una unidad relacionada y también obsoleta. Si se toma alguna definición 
                concreta de la caloría, se puede calcular la magnitud correspondiente 
                de 1 BTU mediante la conversión 1 °F = (1/1,8) °C (exacto), 1 lb = 453,592 37 g 
                (exacto), de forma que 1 BTU = (453,592 37/1,8) cal (exacto si se usa la misma 
                referencia para ambas unidades).
            </p>
            <cite class=""><a target="_blank" href="https://es.wikipedia.org/wiki/BTU#:~:text=La%20British%20thermal%20unit%20(%C2%ABunidad,en%20equipos%20de%20aire%20acondicionado.">Wikipedia.org</a></cite>
        </blockquote>
    </details>
    <hr>

    <p>
        <b>Condiciones de uso:</b>
        Los resultados ofrecidos son valores aproximados basados en condiciones 
        promedio para la República Dominicana. El resultado real puede ser diferente 
        según las condiciones reales en que se encuentra el área a climatizar.
        Si desea podemos enviarle un técnico experto para que realice una evaluación 
        del área que desea climatizar. Contáctenos, <a href="#contact"> haciendo click aquí.</a>
    </p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="id_terms">
        <label class="form-check-label" for="id_terms">Acepto las condiciones de uso</label>
    </div>

    <div id="alert-1" class="alert alert-warning alert-dismissible fade show border shadow-sm mt-2 d-none animate__animated animate__shakeX" role="alert">
        <strong>¡Condiciones de uso!</strong> Debe aceptar las condiciones de uso.
    </div>
    <hr>
    
    <div class="row">
        <div class="col col-12 col-md-4">
            <h3 class="text-center">Dimensiones de la habitación</h3>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text w-96px">Largo</div>
                </div>
                <input class="form-control" type="number" step="1" name="length" value="15" id="id_lenght">
                <div class="input-group-append">
                    <div class="input-group-text">FT (pies)</div>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text w-96px">Ancho</div>
                </div>
                <input class="form-control" type="number" step="1" name="width" value="12" id="id_width">
                <div class="input-group-append">
                    <div class="input-group-text">FT (pies)</div>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text w-96px">Alto</div>
                </div>
                <input class="form-control" type="number" step="1" name="height" value="9" id="id_height">
                <div class="input-group-append">
                    <div class="input-group-text">FT (pies)</div>
                </div>
            </div>
            <hr>
            <h3 class="text-center">Resultados</h3>
            <div class="p-2 bg-light text-center border">
                <b>Potencia requerida aproximada:</b>
                <div id="btu-required" class="h3 font-weight-bold">0.00 BTU/H</div>
            </div>
            <div class="p-2 bg-primary text-white text-center border">
                <b>Potencia recomendada:</b>
                <div id="btu-suggested" class="h3 font-weight-bold">0.00 BTU/H</div>
            </div>
            <div id="alert-2" class="alert alert-warning border shadow-sm mt-2 d-none animate__animated animate__shakeX">
                Para esta área se necesitan fundamentalmente las mediciones presenciales de un experto.
            </div>
            <div class="alert alert-info border mt-2">
                El resultado real puede variar en función del número de ventanas y puertas que 
                tenga la habitación, número de personas en el área, 
                aparatos electrónicos dentro del área, material de construcción, 
                si el ára a enfriar es una cocina, que tan fuerte pega el sol en el área, etc. 
            </div>
        </div>
        <div class="col col-12 col-md-8" id="model-3d">

        </div>
    </div>
</div>
{% endblock content %}






{% block scripts %}
<script src="/static/external/threejs/three.js"></script>
<script src="/static/js/app-calcbtu.js"></script>
{% endblock scripts %}