{% extends 'base/base.html' %}
{% load thumbnail %}
{% load base %}





{% block carousel %}{% endblock %}
{% block schedule %}{% endblock %}
{% block brands %}{% endblock %}
{% block location %}{% endblock %}
{% block about %}{% endblock %}
{% block brochure %}{% endblock %}
{% block featured_items %}{% endblock %}


{% block content %}

<div class="container">
    <h1>Calculadora de BTU/H</h1>
    <details>
        <summary>¿Qué es BTU?</summary> 
        <blockquote cite="https://es.wikipedia.org/wiki/BTU#:~:text=La%20British%20thermal%20unit%20(%C2%ABunidad,en%20equipos%20de%20aire%20acondicionado.">
            <p>
                La British thermal unit («unidad térmica británica»; símbolo: BTU) 
                es una unidad de energía utilizada principalmente en equipos de aire acondicionado. 
                Se usa en los Estados Unidos, aunque ocasionalmente también se puede encontrar 
                en documentación o equipos de origen británico o en América Latina. 
                En la mayor parte de los ámbitos de la técnica y la física ha sido 
                sustituida por el julio que es la unidad correspondiente del 
                Sistema Internacional de Unidades.
            </p>
            <p>
                1 BTU es aproximadamente la cantidad de calor necesaria para provocar 
                una elevación de temperatura de 1 °F en una muestra de agua con una masa 
                de 1 lb. Esta descripción tiene la misma ambigüedad que la caloría, 
                una unidad relacionada y también obsoleta. Si se toma alguna definición 
                concreta de la caloría, se puede calcular la magnitud correspondiente 
                de 1 BTU mediante la conversión 1 °F = (1/1,8) °C (exacto), 1 lb = 453,592 37 g 
                (exacto), de forma que 1 BTU = (453,592 37/1,8) cal (exacto si se usa la misma 
                referencia para ambas unidades).
            </p>
            <cite class=""><a target="_blank" href="https://es.wikipedia.org/wiki/BTU#:~:text=La%20British%20thermal%20unit%20(%C2%ABunidad,en%20equipos%20de%20aire%20acondicionado.">Wikipedia.org</a></cite>
        </blockquote>
    </details>
    <hr>

    <p>
        <b>Condiciones de uso:</b>
        Los resultados ofrecidos son valores aproximados basados en condiciones 
        promedio para la República Dominicana. El resultado real puede ser diferente 
        según las condiciones reales en que se encuentra el área a climatizar.
        Si desea podemos enviarle un técnico experto para que realice una evaluación 
        del área que desea climatizar. Contáctenos, <a href="#contact"> haciendo click aquí.</a>
    </p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="id_terms">
        <label class="form-check-label" for="id_terms">Acepto las condiciones de uso</label>
    </div>

    <div id="alert-1" class="alert alert-warning alert-dismissible fade show border shadow-sm mt-2 d-none animate__animated animate__shakeX" role="alert">
        <strong>¡Condiciones de uso!</strong> Debe aceptar las condiciones de uso.
    </div>
    <hr>
    
    <div class="row">
        <div class="col col-12 col-md-4">
            <h3 class="text-center">Dimensiones de la habitación</h3>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text w-96px">Largo</div>
                </div>
                <input class="form-control" type="number" step="1" name="length" value="15" id="id_lenght">
                <div class="input-group-append">
                    <div class="input-group-text">FT (pies)</div>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text w-96px">Ancho</div>
                </div>
                <input class="form-control" type="number" step="1" name="width" value="12" id="id_width">
                <div class="input-group-append">
                    <div class="input-group-text">FT (pies)</div>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text w-96px">Alto</div>
                </div>
                <input class="form-control" type="number" step="1" name="height" value="9" id="id_height">
                <div class="input-group-append">
                    <div class="input-group-text">FT (pies)</div>
                </div>
            </div>
            <hr>
            <h3 class="text-center">Resultados</h3>
            <div class="p-2 bg-light text-center border">
                <b>Potencia requerida aproximada:</b>
                <div id="btu-required" class="h3 font-weight-bold">0.00 BTU/H</div>
            </div>
            <div class="p-2 bg-primary text-white text-center border">
                <b>Potencia recomendada:</b>
                <div id="btu-suggested" class="h3 font-weight-bold">0.00 BTU/H</div>
            </div>
            <div id="alert-2" class="alert alert-warning border shadow-sm mt-2 d-none animate__animated animate__shakeX">
                Para esta área se necesitan fundamentalmente las mediciones presenciales de un experto.
            </div>
            <div class="alert alert-info border mt-2">
                El resultado real puede variar en función del número de ventanas y puertas que 
                tenga la habitación, número de personas en el área, 
                aparatos electrónicos dentro del área, material de construcción, 
                si el ára a enfriar es una cocina, que tan fuerte pega el sol en el área, etc. 
            </div>
        </div>
        <div class="col col-12 col-md-8" id="model-3d">

        </div>
    </div>
</div>
{% endblock content %}






{% block script %}
<script src="/static/external/threejs/three.js"></script>

<script>
    var div = document.getElementById("model-3d");
    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );

    const renderer = new THREE.WebGLRenderer();
    renderer.setSize(div.offsetWidth, div.offsetHeight);
    div.appendChild( renderer.domElement );

    const geometry = new THREE.BoxGeometry();
    //const material = new THREE.MeshBasicMaterial( { color: 0xddccbb80 } );
    var material = new THREE.MeshPhongMaterial({
        vertexColors: THREE.VertexColors,
        //wireframe: true,
        //wireframeLinewidth: 2,
    });
    const cube = new THREE.Mesh( geometry, material );
    scene.add( cube );

    const light1 = new THREE.PointLight(0xff0044);
    light1.position.set(-100, 100, 200);
    scene.add(light1);

    camera.position.z = 3;
    cube.rotation.x += 0.4;

    renderer.setClearColor( 0xffffff, 1);

    var input_height = document.getElementById("id_height");
    var input_lenght = document.getElementById("id_lenght");
    var input_width = document.getElementById("id_width");
    var div_btu_suggested = document.getElementById("btu-suggested");
    var div_btu_required = document.getElementById("btu-required");
    var check = document.getElementById("id_terms");
    var alert_1 = document.getElementById("alert-1");
    var alert_2 = document.getElementById("alert-2");

    input_height.onchange = calculateBTU;
    input_height.onclick = calculateBTU;
    input_height.oninput = calculateBTU;
    input_lenght.onchange = calculateBTU;
    input_lenght.onclick = calculateBTU;
    input_lenght.oninput = calculateBTU;
    input_width.onchange = calculateBTU;
    input_width.onclikc = calculateBTU;
    input_width.oninput = calculateBTU;
    check.onchange = calculateBTU;
    check.onclick = calculateBTU;


    function animate() {
        requestAnimationFrame( animate );
        //cube.rotation.x += 0.01;
        cube.rotation.y += 0.001;
        if (input_lenght.value > 100) {
            input_lenght.value = 100;
        }
        if (input_height.value > 100) {
            input_height.value = 100;
        }
        if (input_width.value > 100) {
            input_width.value = 100;
        }
        cube.scale.x = input_width.value / 10;
        cube.scale.y = input_height.value / 10;
        cube.scale.z = input_lenght.value / 10;
        renderer.render( scene, camera );
    }
    animate();



    function calculateBTU() {
        if (check.checked) {
            alert_1.classList.add("d-none");
            alert_2.classList.add("d-none");

            with(Math){
                let a = parseFloat(input_lenght.value) * 0.312;
                let b = parseFloat(input_width.value) * 0.312;
                let c = parseFloat(input_height.value) * 0.312;
                let d = 4;
                let e = 0;
                let units3 = 165;
                
                let tmp2 = (d + e) * 400;
                tmp2 = Math.floor((tmp2 * 100) + 0.5) / 100;
                let tmp = a * b * c;
                tmp = Math.floor((tmp * 100) + 0.5) / 100;
                tmp = tmp * units3;
                tmp = tmp + tmp2;
                tmp = Math.floor((tmp * 100) + 0.5) / 100;

                div_btu_required.innerHTML = intcomma(tmp) + " BTU";

                switch(true){
                    case tmp >= 1 && tmp <= 9000:
                        div_btu_suggested.innerHTML = intcomma(9000) + " BTU" + '<a href="{% url "store-item-list" %}?btu=9000" id="suggested_items_link" class="btn btn-block btn-light border mt-1">Ver equipos recomendados</a>';
                        break;
                    case tmp >= 9001 && tmp <= 12000:
                        div_btu_suggested.innerHTML = intcomma(12000) + " BTU" + '<a href="{% url "store-item-list" %}?btu=12000" id="suggested_items_link" class="btn btn-block btn-light border mt-1">Ver equipos recomendados</a>';
                        break;
                    case tmp >= 12001 && tmp <= 18000:
                        div_btu_suggested.innerHTML = intcomma(18000) + " BTU" + '<a href="{% url "store-item-list" %}?btu=18000" id="suggested_items_link" class="btn btn-block btn-light border mt-1">Ver equipos recomendados</a>';
                        break;
                    case tmp >= 18001 && tmp <= 24000:
                        div_btu_suggested.innerHTML = intcomma(24000) + " BTU" + '<a href="{% url "store-item-list" %}?btu=24000" id="suggested_items_link" class="btn btn-block btn-light border mt-1">Ver equipos recomendados</a>';
                        break;
                    case tmp >= 24001 && tmp <= 36000:
                        div_btu_suggested.innerHTML = intcomma(36000) + " BTU" + '<a href="{% url "store-item-list" %}?btu=36000" id="suggested_items_link" class="btn btn-block btn-light border mt-1">Ver equipos recomendados</a>';
                        break;
                    case tmp >= 36001 && tmp <= 48000:
                        div_btu_suggested.innerHTML = intcomma(48000) + " BTU" + '<a href="{% url "store-item-list" %}?btu=48000" id="suggested_items_link" class="btn btn-block btn-light border mt-1">Ver equipos recomendados</a>';
                        break;
                    case tmp >= 48001 && tmp <= 60000:
                        div_btu_suggested.innerHTML = intcomma(60000) + " BTU" + '<a href="{% url "store-item-list" %}?btu=60000" id="suggested_items_link" class="btn btn-block btn-light border mt-1">Ver equipos recomendados</a>';
                        break;
                    case tmp > 60001:
                        div_btu_suggested.innerHTML = div_btu_required.innerHTML;
                        alert_2.classList.remove("d-none");
                    default:
                }
            }
        }
        else{ 
            alert_1.classList.remove("d-none");
            div_btu_required.innerHTML = "";
            div_btu_suggested.innerHTML = "";
            check.focus();
        }
    }
</script>
{% endblock script %}