{% extends 'store/base.html' %}
{% load humanize %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap4 %}
{% load base %}



{% block content %}
<div class="container" id="store">

    {% if not request.session.cart %}
        <div class="alert border-primary border-2 text-center">
            <div>{% svg 'cart4' size='64px' %}</div>
            <div class="h3 text-primary">{% trans 'Su carrito está vacio' %}</div>
            <a class="btn btn-primary h3 p-3 mt-1" href="{% url 'store' %}">Empezar a comprar</a>
        </div>
    {% else %}
        <div  class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Importe</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            
                    <tr v-for="item in cart.items">
                        <td><img :src="item.img" alt="" class="img-fluid"></td>
                        <td><a class="btn btn-link" :href="item.url">{% vue 'item.name' %}</a></td>
                        <td class="text-right p-0 w-128px">
                            <input type="number" min="1" :value="item.cant" :data-item="item.item_id" v-on:change="onUpdateItemFromCtrl" class="item-cant-input border-0 w-100 h-64px text-right px-2">
                        </td>
                        <td class="text-right">{% vue 'intcomma(item.price)' %}</td>
                        <td class="text-right">{% vue 'intcomma(item.total)' %}</td>
                        <td class="px-0 text-center">
                            <a class="" v-on:click="removeItem(item.item_id)" title="{% trans 'Quitar este artículo.' %}">
                                {% svg 'trash' %}
                            </a>
                        </td>
                    </tr>

                </tbody>

                <!-- Totales. -->
                <tfoot >
                    <tr class="bg-light font-weight-bold">
                        <td></td>
                        <td></td>
                        <td class="text-right">{% vue 'intcomma(cart.total.cant)' %}</td>
                        <td></td>
                        <td class="text-right">{% vue 'intcomma(cart.total.total)' %}</td>
                        <td></td>
                    </tr>
                </tfoot>

            </table>
        </div>

        <div class="row">
            <div class="col col-6">
                <!--  -->
            </div>
            <div class="col col-6">
                <table class="table table-bordered">
                    <tr>
                        <th>{% trans 'Subtotal' %}</th>
                        <td class="text-right">{% vue 'intcomma(cart.total.subtotal)' %}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Impuestos' %}</th>
                        <td class="text-right">{% vue 'intcomma(cart.total.tax)' %}</td>
                    </tr>
                    <tr>
                        <th class="font-size-large">{% trans 'Total' %}</th>
                        <td class="text-right font-size-large font-weight-bold bg-primary text-primary-contrast">
                            {{ store.setting.currency_symbol }}{% vue 'intcomma(cart.total.total)' %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div>
            <a class="btn btn-lg btn-primary font-size-large mr-1" href="{% url 'store' %}">
                {% svg 'cart-fill' fill='var(--primary-contrast)' %}
                {% trans 'Continuar comprando' %}
            </a>
            <a class="btn btn-lg btn-success font-size-large mr-1" href="{% url 'store-order-create' %}">
                {% svg 'credit-card-fill' fill='#ffffff' %}
                {% trans 'Completar orden' %}
            </a>
            <a class="btn btn-lg btn-warning font-size-large" v-on:click="removeItemAll">
                {% svg 'cart-x-fill' fill='#111111' %}
                {% trans 'Vaciar carrito' %}
            </a>
        </div>
    {% endif %}
</div>



<script>

    // Quita el item con el id indicado del listado.
    function removeItem(id) {
        $.ajax({
            type: "GET",
            url: "{% url 'store-cart-remove' %}?item_id="+id,
            //data: {item_id: id},
            dataType: "json",
            success: function(data) {
                window.location.reload();
            },
        });
    }


    // Quita todos los items del listado.
    function removeItemAll() {
        removeItem(id="all");
    }



    // Actualiza.
    function updateItem(id, cant) {
        $.ajax({
            type: "GET",
            url: "{% url 'store-cart-update' %}?item_id="+id+"&cant="+cant,
            //data: {item_id: id},
            dataType: "json",
            success: function(data) {
                window.location.reload();
            },
        });
    }



    // Evento al cambiar las cantidades de los items.
    var item_cant_inputs = document.querySelectorAll(".item-cant-input");
    item_cant_inputs.forEach(function(input) {
        input.onchange = function(event) {
            let el = event.target;
            document.getElementById("btn-update").classList.remove("d-none");
            updateItem(el.dataset.item, el.value);
        }
    });


</script>

{% endblock content %}



