{% extends 'store/base.html' %}
{% load humanize %}
{% load thumbnail %}
{% load bootstrap4 %}
{% load base %}




{% block content %}
{{ block.super }}
<form action="{% url 'store-item-list' %}" method="GET" class="">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-6 col-md-4">
                {% bootstrap_field form_search.q show_label=False size="large" %}
            </div>
            <div class="col col-12 col-sm-6 col-md-3">
                {% bootstrap_field form_search.brand show_label=False size="large" %}
            </div>
            <div class="col col-12 col-sm-6 col-md-3">
                {% bootstrap_field form_search.group show_label=False size="large" %}
            </div>
            <div class="col col-12 col-sm-6 col-md-2">
                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Buscar">
            </div>
        </div>
    </div>
</form>
<hr>
<div class="container">
    <div class="row">
        <div class="col col-12 col-md-6">
            <div id="thumbnails" class="row border-bottom pb-1">
                {% if object.image_url %}
                <div class="col col-3">
                    <img src="{{ object.image_url }}" id="thumb-image_url" alt="{{ object }}" data-img="image_url" class="btn border img-thumbnail">
                </div>
                {% endif %}
                {% if object.image1 %}
                <div class="col col-3">
                    <img src="{{ object.image1|thumbnail_url:'128crop-upscale' }}" id="thumb-image1" alt="{{ object }}" data-img="image1" class="btn border img-thumbnail">
                </div>
                {% endif %}
                {% if object.image2 %}
                <div class="col col-3">
                    <img src="{{ object.image2|thumbnail_url:'128crop-upscale' }}" id="thumb-image2" alt="{{ object }}" data-img="image2" class="btn border img-thumbnail">
                </div>
                {% endif %}
                {% if object.image3 %}
                <div class="col col-3">
                    <img src="{{ object.image3|thumbnail_url:'128crop-upscale' }}" id="thumb-image3" alt="{{ object }}" data-img="image3" class="btn border img-thumbnail">
                </div>
                {% endif %}
            </div>
            <div>
                {% if object.image_url %}
                    <img src="{{ object.image_url }}" id="image_url" alt="{{ object }}" class="item-img w-100">
                {% endif %}
                {% if object.image1 %}
                    <img src="{{ object.image1|thumbnail_url:'512' }}" id="image1" alt="{{ object }}" class="item-img w-100">
                {% endif %}
                {% if object.image2 %}
                    <img src="{{ object.image2|thumbnail_url:'512' }}" id="image2" alt="{{ object }}" class="item-img w-100">
                {% endif %}
                {% if object.image3 %}
                    <img src="{{ object.image3|thumbnail_url:'512' }}" id="image3" alt="{{ object }}" class="item-img w-100">
                {% endif %}
            </div>
        </div>
        <div class="col col-12 col-md-6">
            <h1>{{ object }}</h1>
            <p>{{ object.description }}</p>
            {% if object.brand %}<div><b>Marca: </b>{{ object.brand }}</div>{% endif %}

            {% if object.color1 or object.color2 %}
            <div>
                <b>Colores: </b>
                {% if object.color1 %}<span style="background-color: {{ object.color1 }}">{{ object.color1 }}</span>{% endif %}
                {% if object.color2 %}<span style="background-color: {{ object.color2 }}">{{ object.color2 }}</span>{% endif %}
            </div>
            {% endif %}

            {% if object.length_width or object.length_height or object.length_depth %}
            <div>
                <b>Dimensiones: </b>
                {% if object.length_width %}<span>Ancho: {{ object.length_width }} {{ object.length_type }}</span>{% endif %}
                {% if object.length_height %}<span>Alto: {{ object.length_height }} {{ object.length_type }}</span>{% endif %}
                {% if object.length_depth %}<span>Largo: {{ object.length_depth }} {{ object.length_type }}</span>{% endif %}
            </div>
            {% endif %}

            {% if object.weight %}<div><b>Peso: </b>{{ object.weight }} {{ object.weight_type }}</div>{% endif %}
            {% if object.volumen %}<div><b>Volumen: </b>{{ object.volumen }} {{ object.volumen_type }}</div>{% endif %}

            {% if object.material %}<div><b>Material: </b>{{ object.material }}</div>{% endif %}
            {% if object.capacity %}<div><b>Capacidad: </b>{{ object.capacity|intcomma }} {{ object.capacity_type }}</div>{% endif %}
            {% if object.price %}<div><b>Precio: </b>RD${{ object.price|intcomma }}</div>{% endif %}

            <hr>
            <div class="container-fluid">
                <form action="" method="POST" id="form-add-cart">
                    {% csrf_token %}
                    {% bootstrap_form_errors form_cart %}
                    {% bootstrap_field form_cart.item_id show_label=False %}

                    <div id="form-add-cart-message" class="alert alert-success d-none h4">
                        <span class="pr-1">{% svg 'bag-check-fill' fill='var(--success)' size='32px' %}</span>
                        <span class="message"></span>
                    </div>

                    <div class="row">
                        <div class="col col-12 col-sm-6 col-md-4 pr-1">
                            {% bootstrap_field form_cart.cant show_label=False %}
                        </div>
                        <div class="col col-12 col-sm-6 col-md-4 pr-1">
                            <a class="btn btn-success btn-lg btn-block font-size-large text-white" v-on:click="addItem('{{ object.id }}')">
                                <span class="p-1">{% svg 'bag-plus-fill' fill='#ffffff' %}</span>
                                Comprar
                            </a>
                        </div>
                        <div class="col col-12 col-sm-12 col-md-4">
                            <a v-if="cart.total.count" class="btn btn-primary btn-lg btn-block font-size-large" href="{% url 'store-cart' %}">
                                <span class="p-1">{% svg 'cart-fill' fill='#ffffff' %}</span>
                                <span>Carrito</span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    var item_imgs = document.querySelectorAll(".item-img");
    var item_thumb_imgs = document.querySelectorAll(".img-thumbnail");


    // {# De solo haber una sola imagen, no mostramos los thumbnails #}
    if (item_thumb_imgs.length == 1) {
        document.getElementById("thumbnails").classList.add("d-none");
    }


    // {# Ocultamos las imágenes y mostramos solo la primera. #}
    item_imgs.forEach(function(img) {
        img.classList.add("d-none");
    });

    try {
        item_imgs[0].classList.remove("d-none");
    } catch (error) {}


    // {# Añadimos el evento click a cada thubnail. #}
    item_thumb_imgs.forEach(function(thumb) {

        thumb.onclick = function(event) {

            // {# Ocultamos las imágenes y mostramos solo la elegida. #}
            item_imgs.forEach(function(img) {
                img.classList.add("d-none");
            });

            let img = document.getElementById(thumb.dataset.img);
            img.classList.remove("d-none");
        }
    });


    // {# Valores predeterminados en el formulario de añadir al carrito. #}
    document.getElementById("id_item_id").value = "{{ object.id }}";
    document.getElementById("id_cant").value = 5;
</script>
{% endblock content %}