{% extends 'base/base.html' %}
{% load humanize %}
{% load thumbnail %}
{% load base %}



{% block carousel %}{% endblock %}
{% block schedule %}{% endblock %}
{% block brands %}{% endblock %}
{% block location %}{% endblock %}
{% block about %}{% endblock %}
{% block brochure %}{% endblock %}


{% block content %}
<form action="" method="GET" class="form-inline">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-md-4 input-group">
                <input class="form-control form-control-lg" type="search" name="q" placeholder="Buscar..." aria-label="Search">
                <div class="input-group-append">
                    <input class="btn btn-primary btn-lg" type="submit" value="Buscar">
                </div>
            </div>
        </div>
    </div>
</form>
<hr>

<div class="container">
    <div class="row">
        {% for obj in object_list %}
        <div class="col col-12 col-md-4 col-lg-3 mb-4">
            <div class="w-100">
                <a class="item btn btn-light btn-block text-center border rounded-0 shadow-sm" href="{{ obj.get_absolute_url }}">
                    <div class="">
                        <img src="{% if obj.GetFirstImageField %}{{ obj.GetFirstImageField|thumbnail_url:'256crop' }}{% else %}{{ obj.GetImg }}{% endif %}" alt="{{ obj }}" class="w-100 h-auto">
                        <hr>
                        <h3>{{ obj }}</h3>
                        <div class="font-size-small">{{ obj.description|truncatechars:50 }}</div>
                        <div>{{ obj.price|intcomma }}</div>
                    </div>
                </a>
                <div>
                    <button class="btn btn-secondary btn-block rounded-0 shadow-sm" onclick="javascript:alert('Aun no disponible')">Añadir al carrito</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}