{% extends 'store/base.html' %}
{% load humanize %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap4 %}
{% load base %}



{% block content %}
<form action="{% url 'store-item-list' %}" method="GET" class="">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-6 col-md-4">
                {% bootstrap_field form_search.q show_label=False size="large" %}
            </div>
            <div class="col col-12 col-sm-6 col-md-3">
                {% bootstrap_field form_search.brand show_label=False size="large" %}
            </div>
            <div class="col col-12 col-sm-6 col-md-3">
                {% bootstrap_field form_search.group show_label=False size="large" %}
            </div>
            <div class="col col-12 col-sm-6 col-md-2">
                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Buscar">
            </div>
        </div>
    </div>
</form>
<hr>
{% if user.is_staff and settings.UNOLET_APP_DOMAIN %}
    <div class="container">
        {% if request.session.store_updating_from_unolet %}
            <div class="alert alert-warning">{% trans 'Se están actualizando los artículos. Por favor, espere...' %}</div>
        {% else %}
            <input type="button" onclick="update_from_unolet()" class="btn btn-outline-primary" id="btn-update-from-unolet" value="{% trans 'Actualizar los artículos desde Unolet. Esta operación bloqueará la base de datos por unos minutos.' %}">
        {% endif %}
    </div>
{% endif %}
<hr>
<div class="container">
    {% if not object_list %}
    <div class="alert alert-secondary text-secondary-contrast font-size-large text-center">{% trans 'No se encontraron artículos.' %}</div>
    {% endif %}
    <div class="row">
        {% for obj in object_list %}
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="w-100">
                <a class="item btn btn-light btn-block text-center border rounded-0 shadow-sm" href="{{ obj.get_absolute_url }}">
                    <div>
                        <img src="{% if obj.GetFirstImageField %}{{ obj.GetFirstImageField|thumbnail_url:'256crop-upscale' }}{% else %}{{ obj.GetImg }}{% endif %}" alt="{{ obj }}" class="w-100 h-auto bg-white">
                        <hr>
                        <h3>{{ obj }}</h3>
                        <div class="font-size-small">{{ obj.description|truncatechars:50 }}</div>
                        <div class="font-weight-bold text-primary">{% if obj.price %}{{ obj.price|intcomma }}{% endif %}</div>
                    </div>
                </a>
                <div>
                    <button class="btn btn-secondary btn-block rounded-0 shadow-sm" onclick="javascript:alert('Aun no disponible')">Añadir al carrito</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <div>
        {% bootstrap_pagination page_obj %}
    </div>
</div>



<script>

    function update_from_unolet(event) {
        yes = confirm("{% trans '¿Realmente desea actualizar los artículos desde Unolet?' %}");
        if (yes == true) {
            var btn = document.getElementById("btn-update-from-unolet");
            btn.onclick = "";
            btn.value = "{% trans 'Se están actualizando los artículos. Recibirá un mensaje cuando el proceso haya concluido. Por favor, espere...' %}";
            let url = "{% url 'store-item-update-from-unolet' %}";
            $.ajax({
                dataType: "json",
                url: url,
                //data: data,
                success: function(data) {
                    alert(data.message);
                    btn.value = data.message;
                }
            });
            alert("Se están actualizando los artículos en el servidor. Se enviará una notificación cuando el proceso concluya. Por favor, espere...")
        }
    }
</script>
{% endblock content %}