{% extends 'base/base_site.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load base %}


{% block meta_robots_content %}noindex,nofollow{% endblock %}


{% block content %}
<div class="container text-center">
    <h1 class="text-center">{% trans 'Contraseña cambiada correctamente' %}</h1>
    <p>{% trans 'Su contraseña ha sido cambiada correctamente.' %}</p>
    <div>
        <a class="btn btn-primary mr-1" href="{% url 'index' %}">{% trans 'Inicio' %}</a>
        <a class="btn btn-primary" href="{% url 'user-profile' %}">{% trans 'Mi perfil' %}</a>
    </div>
</div>
{% endblock content %}