{% extends 'base/base_site.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load base %}



{% block meta_robots_content %}noindex,nofollow{% endblock %}


{% block content %}
<div class="container">
    <h1 class="text-center">{% trans 'Cambio de contraseña' %}</h1>
    <p>{% trans 'Ingrese su contraseña anterior, por razones de seguridad, y luego ingrese su nueva contraseña dos veces para que podamos verificar que la ingresó correctamente.' %}</p>
    <div class="row">
        <div class="col col-0 col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col col-12 col-sm-10 col-md-8 col-lg-6">
            <div class="bg-light p-4 border">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div>
                        <input class="btn btn-success" type="submit" value="{% trans 'Cambiar mi contraseña' %}">
                    </div>
                </form>
            </div>
        </div>
        <div class="col col-0 col-sm-1 col-md-2 col-lg-3"></div>
    </div>
</div>
{% endblock content %}