{% extends 'base/base_site.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load base %}



{% block meta_robots_content %}noindex,nofollow{% endblock %}


{% block content %}
<div class="container">
    <h1 class="text-center">{% trans 'Restablecimiento de contraseña enviado' %}</h1>
    <p>{% trans 'Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlo en breve.' %}</p>
    <p>{% trans 'Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.' %}</p>
</div>
{% endblock content %}