

body {
    background: white;
    font-family: calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color: black;
}


.header {
    text-align: center;
}

.detalle {
    width: 100%;
}
.detalle table {
    width: 100%;
    border: none;
}
.detalle table th {
    font-weight: bold;
    border: none;
    background: white;
    text-align: right;
    padding: 0px;
    padding-right: 3px;
}
.detalle table td {
    border: none;
    background: white;
    padding: 0px;
}
.movimientos {
    font-size: small;
}
.totales {
    width: 30%;
    text-align: right;
    margin-left: auto;
}
.totales table {
    width: 100%;
    text-align: right;
}

.firmas {
    margin-top: 50px;
    width: 95%;
    padding: 10px;
}
.firmas table {
    border: none;
    width: 100%;
}
.firmas table td {
    border: none;
    border-top: 1px solid black !important;
    background: white;
    text-align: center;
}
.firmas table th {
    border: none;
    background: white;
    width: 20%;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
p {
    margin: 0px;
}


table {
    border-collapse: collapse;
    border: 1px solid black;
}
table caption {
    background: #dddddd;
    border: 1px solid black;
    border-bottom: none;
    font-weight: bold;
}
table td {
    background: white;
    border: 1px solid black;
    padding: 2px;
}
table th {
    background: #eeeeee;
    border: 1px solid black;
    padding: 2px;
    font-weight: bold;
}








body, .btn, .form-control, .form-control-plaintext, .dropdown-menu, .input-group-text, .custom-select, .popover-header {
    /* el tamaño por defecto en Bootstrap es 1rem */
    font-size: 1.1;
}

h1, .h1 {
    font-size: 1.4rem;
}

h2, .h2 {
    font-size: 1.3rem;
}

h3, .h3 {
    font-size: 1.2rem;
}

h4, .h4 {
    font-size: 1.1rem;
}

h5, .h5 {
    font-size: 1rem;
}

h6, .h6 {
    font-size: 0.9rem;
}














