



:root {
    --blue: #004c9c;
    --primary: #004c9c;
    --secondary: #606060;
    --gray: #606060;
    --dark: #303030;
    --dark2: #202020;
    --border: #00000050;
}


body {
    background-color: var(--dark);
    color: var(--light);
}

#main {
    background-color: var(--dark);
    color: var(--light);
}

.navbar, .navbar-light {
    background-color: var(--dark);
    color: var(--light);
}
.navbar-light .nav-item,
.navbar-light .nav-link {
    color: var(--light) !important;
}
.navbar-light .dropdown-menu {
    background-color: var(--dark);
    color: var(--light);
}
.navbar-light .dropdown-menu .dropdown-item {
    color: var(--light);
}

table, .table {
    background-color: var(--dark);
    color: var(--light);
}
.table, table, thead, tbody, tfoot, tr, th, td {
    border-color: var(--border) !important;
}

table, 
table thead, 
table thead td, 
table th,
.table thead, 
.table thead td, 
.table th {
    background-color: var(--dark);
    color: var(--light);
}

.table .thead-light,
.table .thead-light th,
.table .thead-dark,
.table .thead-dark th,
.table-dark,
.table-dark th {
    background-color: var(--dark2);
    color: var(--light);
}
.table .thead-light .btn-link {
    color: var(--light);
}
.table-hover tr:hover td {
    background-color: #ffffff23;
    color: var(--light);
}

.table-bordered,
.table-bordered thead,
.table-bordered tfoot,
.table-bordered tbody,
.table-bordered tr,
.table-bordered th,
.table-bordered td {
    border-color: var(--border) !important;
}

.btn-white, .btn-light {
    background-color: var(--dark2);
    color: var(--light);
    border-color: rgba(0, 0, 0, 0.4);
}
.btn-white:hover, .btn-light:hover {
    background-color: var(--dark);
    color: var(--white);
    border-color: rgba(20, 20, 20, 0.4);
}

.btn-link {
    background-color: inherit;
    color: var(--light);
}
.btn-link:hover {
    background-color: inherit;
    color: var(--primary);
}

input,
.form-control {
    background-color: var(--secondary);
    border-color: black;
    color: black !important;
}
.select2-container--default .select2-selection--single,
.select2-dropdown,
.select2-selection__rendered {
    background-color: var(--secondary) !important;
    border-color: black !important;
    color: black !important;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #444;
    color: black;
}
.form-control:focus {
    background: var(--secondary);
    color: black;
}



.pagination .page-link {
    background-color: var(--dark2);
    color: var(--light);
    border-color: var(--dark);
}
.pagination .page-link:hover {
    background-color: var(--dark);
}
.pagination .disabled .page-link {
    background-color: var(--secondary);
    color: white;
    border-color: var(--dark);
}


/* Miscelaneos */

.bg-white, .bg-light {
    background-color: var(--dark) !important;
    color: var(--light) !important;
}
.bg-light2 {
    background-color: var(--dark2) !important;
    color: var(--light) !important;
}

.border,
.border-top,
.border-left,
.border-right,
.border-bottom {
    border-color: var(--border) !important;
}

.shadow {
    box-shadow: 0.5 0.8rem 1rem var(--border) !important;
}
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem var(--border) !important
}
.shadow-lg {
    box-shadow: 0 1rem 3rem var(--border) !important;
}

.active {
    background-color: inherit !important;
    color: var(--light) !important;
    border-color: inherit !important;
    box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.281);
}
.btn-group .active {
    box-shadow: none !important;
    border-bottom: 2px solid var(--unolet-red) !important;
}