{% extends 'base/base_site.html' %}
{% load i18n %}
{% load thumbnail %}
{% load base %}





{% block content %}
<div class="container">
    <h1 class="text-center">Preguntas frecuentes</h1>
    <p class="text-center">Consulte nuestro índice de inquietudes</p>
    <div class="row">
        {% for obj in base.questions %}
        <div class="col col-12 col-md-6">
            <h2 class="text-primary">{{ obj.question }}</h2>
            <div>{{ obj.answer|safe }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}